@font-face {
  font-family: "robotoslab";
  src: local("robotoslab"), url("../fonts/RobotoSlab-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "tenor";
  src: local("tenor"), url("../fonts/TenorSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: arial, serif;
  background-color: #EAEFF3;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  line-height: 1.1;
  font-weight: normal;
}

p {
  line-height: 1.3;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

img,
video,
iframe {
  display: block;
  max-width: 100%;
}


